.admin-table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

thead {
    display: table-header-group;

}

.admin-green {
    background-color: green;
    color: blanchedalmond;
    text-align: left;
}

.admin-green th {
    padding: 16px 30px 16px 8px;
}

tr td {
    padding: 8px;
    display: table-cell;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #ccc;
}

.admin-badge {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding:0 6px;
    text-align: center;
    font-weight: 900;
    margin-left: 5px;
}